<div class="row" [formGroup]="form">
  <div class="col col-md-6">

    <div class="form-group has-danger">
      <label class="form-control-label" id="name">Nome Completo <app-label-required></app-label-required></label>
      <input type="text" class="form-control form-control-danger" formControlName="name" id="name" [ngClass]="{ 'is-invalid': subject && f.name.errors }">

      <app-message-validate [control]="form.get('name')" label="Nome" [subject]="subject"></app-message-validate>

    </div>


    <div class="form-group">
      <label>Tipo de documento</label>
      <select class="form-control" formControlName="documentType" id="documentType">
        <option>CPF</option>
        <option>RG</option>
      </select>
    </div>

    <div class="form-group">
      <label>Telefone</label>
      <br>
      <p-inputMask  mask="(99) 99999-9999" inputId="phone" formControlName="phone"></p-inputMask>
    </div>

  </div>

  <div class="col">

    <div class="form-group">
      <label>Data de Nascimento <app-label-required></app-label-required></label>
      <br>
      <p-calendar 
      dateFormat="dd/mm/yy" 
      [monthNavigator]="true" 
      [yearNavigator]="true" 
      yearRange="1990:2019"
      inputStyleClass="input-date"
      inputId="dateOfBirth"
      formControlName="dateOfBirth">
      </p-calendar> 
    </div>

    <div class="form-group">
      <label>N° do Documento</label>
      <input type="text" class="form-control" formControlName="document" id="document">
    </div>

    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" formControlName="email" id="email">
    </div>
  </div>
</div>
