
<div class="row"> 
    <div class="col col-md-2">
      <div class="form-group">
        <label>CEP</label>
        <input type="text" class="form-control">
      </div>
    </div>
  </div>

<div class="row">
 
  <div class="col col-md-6">
    <div class="form-group">
      <label>Rua</label>
      <input type="text" class="form-control">
    </div>
  </div>

  <div class="col col-md-4">
      <div class="form-group">
        <label>Bairro</label>
        <input type="text" class="form-control">
      </div>
    </div>

  <div class="col col-md-2">
      <div class="form-group">
        <label>Número</label>
        <input type="text" class="form-control">
      </div>
    </div>

</div>

<div class="row">

    <div class="col col-md-4">
      <div class="form-group">
        <label>Cidade</label>
        <input type="text" class="form-control">
      </div>
    </div>
  
    <div class="col col-md-4">
      <div class="form-group">
        <label>Estado</label>
        <input type="text" class="form-control">
      </div>
    </div>
  
    <div class="col col-md-4">
        <div class="form-group">
          <label>Complemento</label>
          <input type="text" class="form-control">
        </div>
    </div>
  
  </div>
  
