<table class="table table-hover table-bordered table-striped" style="width:100%">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Telefone</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
  
      <tr>
        <th scope="row">1</th>
        <td> Maria</td>
        <td> 123123123</td>
        <td align="center">
              <a  type="button" title="Editar" class="btn btn-primary btn-sm">
                <span class="fa fa-edit"></span>
              </a>
             
              <a href="#" type="button" title="Excluir" class="btn btn-danger btn-sm margin-button">
                <span class="fa fa-trash"></span>
              </a>
        </td>
      </tr>
    </tbody>
  </table>