<div class="row">

  <div class="col col-md-4">
    <div class="form-group">
      <label>Nome</label>
      <input type="text" class="form-control">
    </div>
  </div>

  <div class="col col-md-4">
    <div class="form-group">
      <label>Telefone</label>
      <input type="text" class="form-control">
    </div>
  </div>

  <div class="col col-md-2 margin-button-input">
      <button class="btn btn-success" (click)="next()">Adicionar</button>
  </div>

</div>
<hr>

<div class="row  col-md-12">
  <app-table-responsible></app-table-responsible>
</div>