<app-card-container title="Detalhes do Aluno" icon="icon-user">

  <hr>
  <div align="center">
    <h5>Dados Pessoais</h5>
  </div>
  <hr>
  <div class="row">
    <div class="col col-md-3">
      <app-card-photo cardSize="12"></app-card-photo>
    </div>
    <div class="col-md-9">
      <app-students-personal-data></app-students-personal-data>
    </div>
  </div>

  <hr>

  <div align="center">
    <h5>Endereço</h5>
  </div>
  <hr>
  <app-address></app-address>

  <hr>

  <div align="center">
      <h5>Dados Profissionais</h5>
    </div>
    <hr>
    <app-address></app-address>
</app-card-container>
