<div class="row">

  <div class="col col-md-4">
    <div class="form-group">
      <label>Posição</label>
      <p-multiSelect [options]="cities" [style]="{width: '20em'}"></p-multiSelect>
      <p>Selected Cars: {{selectedCities1}}</p>
    </div>
  </div>

  <div class="col col-md-4">
    <div class="form-group">
      <label>Categoria</label>
      <select class="form-control">
        <option>SUB-17</option>
        <option>SUB-16</option>
      </select>
    </div>
  </div>

  <div class="col col-md-2 margin-button-input">
      <button class="btn btn-success" (click)="next()">Adicionar</button>
  </div>

</div>
<hr>

<div class="row  col-md-12">
  <app-table-responsible></app-table-responsible>
</div>